/* Style for all file inputs inside file-upload containers */
.kn-file-upload .input.is-file {
    width: 100%;
    /* Full width to cover the container */
    height: 100%;
    /* Full height to cover the container */
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    /* Hidden but still clickable */
}

/* Style for the default browser file input button text */
.kn-file-upload::before {
    content: 'Glisser un fichier ou cliquer pour telecharger';
    color: #333;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* Full width to cover the container */
    height: 100%;
    /* Full height to cover the container */
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 0;
    /* Ensure it's behind the file input */
    pointer-events: none;
    /* Prevent text from interfering with the file input */
}

.kn-asset-current {
    border: 2px solid red;
    /* Adjust border color and width as needed */
    border-radius: 10px;
    /* Adjust the radius for rounded corners */
    width: 100%;
    /* Full width */
    padding: 10px;
    /* Add padding if needed */
    box-sizing: border-box;
    /* Include border and padding in the element's total width and height */
    background-color: rgba(255, 204, 153, 0.1);
    /* Adjust opacity for background color if needed */
    text-align: center;
    /* Center text horizontally */
    overflow: hidden;
    /* Ensure content doesn't overflow */
    margin-bottom: 20px;
    /* Add bottom margin; adjust the value as needed */
}